.form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

#ihnx5 {
    background-color: #1E293B;
    color: #fff;
    padding: 40px 40px 40px 40px;
    margin: 0 auto 0 0;
    border-radius: 0 10px 10px 0;
}