.form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

#ihnx5 {
    background-color: #1E293B;
    color: #fff;
    padding: 40px 40px 40px 40px;
    margin: 0 auto 0 0;
    border-radius: 0 10px 10px 0;
}

#is53 {
    padding: 20px 10px 0 10px;
    margin: 0 0 0 0;
}


#imsf {
    padding: 0 0 0 0;
    background-color: #fff;
    margin: 0 0 0 auto;
    border-radius: 10px 0 0 10px;
}

.noHover{
    pointer-events: none;
}


#i3nki {
    margin: 0 0 10px 0;
    font-size: 25px;
}

.dc-form-default .title {
    text-transform: initial;
    font-weight: 500;
}

#i5mdc {
    margin: 20px 0 0 0;
}

#i58zc {
    display: inline-block;
    margin: 0 10px 0 0;
    font-size: 14px;
}

#itmob {
    float: none;
    display: inline-block;
    font-size: 14px;
}

#iq8qg {
    width: 100%;
    height: 50px;
    border-top: 1px none rgb(3, 169, 244);
    border-left: 1px none rgb(3, 169, 244);
    border-bottom: 1px none rgb(3, 169, 244);
    border-right: 1px none rgb(3, 169, 244);
}

.dc-form-default :not([class~=note-editor]) .dc-button, .dc-form-default :not([class~=note-editor]) a.dc-button, .dc-form-default :not([class~=note-editor]) button.dc-button {
    height: 50px;
    line-height: 48px;
    padding: 0 40px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    z-index: 1;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid;
}